.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

body {
    background-color: #678d58;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal; 
}

h1 {
    color: #f6e7cb;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#grid-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 600px; 
}

.tree-card, .shrub-card, .herb-card {
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #a6c48a;
    padding: 10px;
    margin: 10px;
    max-width: 500px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    /* max-height: 800px;
    overflow: auto; */
}

img {
  max-width: 500px;
}

.hidden {
  display: none;
}

/* Color palette
#74d3ae turquoise
#678d58 dark green
#a6c48a light green
#f6e7cb off white
#dd9787 coral
*/