/* Color palette
#74d3ae turquoise
#678d58 dark green
#a6c48a light green
#f6e7cb off white
#dd9787 coral
*/

body {
    background-color: #678d58;
    font-family: helvetica;
}

h1 {
    color: #f6e7cb
}

/* #grid-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    min-height: 600px; 
    gap: 5rem;
} */

.tree-card, .shrub-card, .herb-card {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #a6c48a;
    padding: 10px;
    margin: 10px;
    max-width: 500px;
}

img {
  max-width: 500px;
}

.hidden {
  display: none;
}

/* from https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }